

{% extends "app/layout.html" %}

{% block content %}
  <div id="common_div">
    <img src = "/static/app/images/YABE.png"  width="185" height="110" class="center">
  </div>
  <div id="container">
   
-->
    <div id="middle_div">
      <div id="item_detailed_pic_div">
        <img src = "{{item.picture.url}}" width="300" height="300">
      </div>

      <div id="item_detailed_descript_div">
        <h2>{{item.name}}</h2>sold by {{item.seller.yabeusername}}
          <p>Item description: {{item.description}}</p><br/>

         <p>Start price: ${{biddingitem.start_price}} </p>
         <p>Current highest price: ${{curr_price}}</p>    
         <p>Buy-Out price: ${{biddingitem.max_price}}</p> 

        <form method="post">
            
        {% csrf_token %}
        
        {{ form.as_p }}

         <button id ="quant_submit" type="submit" class="pure-button pure-button-primary">Bid</button>
        </form> 
        Bidding history:
        <table class="pure-table">
    <thead>
        
        <tr>
            <th>Date</th>
            <th>Bidding Price</th>
            <th>Bidder</th>
        </tr>
    </thead>

    <tbody>
        {% for history in biddingHistory %}
        <tr>
            <td>{{history.bidding_date}}</td>
            <td>${{history.bid_price}}</td>
            <td>{{history.buyer.yabeusername}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>  

      </div>
    </div>

  </div>
<!--Right nav bar-->
    <div class="rightbar ">
            
            <div id="menu" class="pure-menu pure-menu-open" style="color:grey;height:100%;">
                <div class="pure-menu-heading"> 
                    <div class="dashed-title-box">Contents</div>
                </div>
                   <ul>
            <li><p id="category_name">
              <a href="/projects/?category=0">All</a>
              </p>
            </li>

            <li><p id="category_name">
              <a href="/projects/?category=1">Bookstore</a>
              </p>
            </li>

            <li><p id="category_name">
              <a href="/projects/?category=2">Collectibles & Art</a>
              </p>
            </li>

            <li><p id="category_name">
              <a href="/projects/?category=3">Electronics</a>
              </p>
            </li>

            <li><p id="category_name">
              <a href="/projects/?category=4">Fashion</a>
              </p>
            </li>

            <li><p id="category_name">
              <a href="/projects/?category=5">Home & Garden</a>
              </p>
            </li>

            <li><p id="category_name">
              <a href="/projects/?category=6">Sporting Goods</a>
              </p>
            </li>

            <li><p id="category_name">
              <a href="/projects/?category=7">Toys & Hobbies</a>
              </p>
            </li>

             <li><p id="category_name">
              <a href="/projects/?category=8">Others</a>
              </p>
            </li>

        
          </ul>
                <form type="get" action="." style="margin: 0">
        <input  id="search_box" type="text" name="search_box"  placeholder="Search...">
        <button id="search_submit" type="submit" >Search</button>
    </form>
        </div>
          </div>



{% endblock %}

