

{% extends "app/layout.html" %}

{% block content %}
<style>
    .product_name {
        border-bottom: 1px solid grey;
        padding-bottom: 10px;
    }
    .descript_header {
        font-weight: bold;    
    }
    .descript_contents {
        font-size: 17px;
    }
    .stock_left {
        color: #C42F00;
        font-weight: bold;
    }
    .button {
    background-color: #FFC257;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}
</style>
  <div id="common_div">
    <img src = "/static/app/images/YABE.png"  width="185" height="110" class="center">
  </div>
  <div id="container">
    <div id="middle_div">
      <div id="item_detailed_pic_div">
         <!-- given by user -->
        <img src = "{{item.picture.url}}" width="300" height="300">
        
      </div>

      <div id="item_detailed_descript_div">
        <h2 class="product_name">{{item.name}}</h2>

        <h4 class="descript_header">Product Description:</h4>
        <p class="descript_contents">{{item.description}}</p>
        <h4 class="descript_header">Product Seller Information: </h4>
        <p class="descript_contents">{{item.seller.yabeusername}}</p>
        <p class="stock_left">ONLY {{item.quantity}} IN STOCK</p>
        <h4 class="descript_header">Price: ${{item.price}}</h4>

        <form method="post">

        {% csrf_token %}

        {{ form.as_p }}
        <button type="submit" class="button pure-button pure-button-primary" style="padding: 14px 136px;">Buy</button>
        </form> 
        {% if hasBought == True %}
       <a href="{% url 'leaveRating' item_id=item.id %}">Leave Rating</a>
       {% endif %}
       <h4 class="descript_header">Reviews</h4>
              <table class="pure-table">
 <thead>

     <tr>
         <th>Buyer</th>
         <th>Rating</th>
         <th>Comments</th>
         <th>Date</th>
     </tr>
 </thead>

 <tbody>
     {% for review in reviews %}
     <tr>
         <td>{{review.buyer.yabeusername}}</td>
         <td>{{review.rating}}</td>
         <td>{{review.feedback}}</td>
         <td>{{review.datetime}}</td>
         <td>{{order.item_id.price}}</td>
     </tr>
     {% endfor %}
     </tbody>
 </table>
      </div>
    </div>
  </div>
<div class="rightbar ">

        <div id="menu" class="pure-menu pure-menu-open" style="color:grey;height:100%;">
            <div class="pure-menu-heading">
                <div class="dashed-title-box">Contents</div>
            </div>
               <ul>
        <li><p id="category_name">
          <a href="/projects/?category=0">All</a>
          </p>
        </li>

        <li><p id="category_name">
          <a href="/projects/?category=1">Bookstore</a>
          </p>
        </li>

        <li><p id="category_name">
          <a href="/projects/?category=2">Collectibles & Art</a>
          </p>
        </li>

        <li><p id="category_name">
          <a href="/projects/?category=3">Electronics</a>
          </p>
        </li>

        <li><p id="category_name">
          <a href="/projects/?category=4">Fashion</a>
          </p>
        </li>

        <li><p id="category_name">
          <a href="/projects/?category=5">Home & Garden</a>
          </p>
        </li>

        <li><p id="category_name">
          <a href="/projects/?category=6">Sporting Goods</a>
          </p>
        </li>

        <li><p id="category_name">
          <a href="/projects/?category=7">Toys & Hobbies</a>
          </p>
        </li>

         <li><p id="category_name">
          <a href="/projects/?category=8">Others</a>
          </p>
        </li>


      </ul>
            <form type="get" action="." style="margin: 0">
    <input  id="search_box" type="text" name="search_box"  placeholder="Search...">
    <button id="search_submit" type="submit" >Submit</button>
</form>
                </div>

    </div>


{% endblock %}

