﻿

{% extends "app/layout.html" %}

{% block content %}

  <div id="common_div">
    <img src = "/static/app/images/YABE.png"  width="185" height="110" class="center">
  </div>
  <div id="container">
    <div id="middle_div">
      <div id="item_detailed_pic_div">
         <!-- given by user -->
        <img src = "{{item.picture.url}}" width="300" height="300">
      </div>

      <div id="item_detailed_descript_div">
        <h2>{{item.name}}</h2><br />


         <h3>{{item.quantity}} in stock</h3><br/>


        <h3>Price: ${{item.price}}</h3>

        <form method="post">

        {% csrf_token %}

        {{ form.as_p }}

         <button id ="quant_submit" type="submit" class="pure-button pure-button-primary">Buy</button>
        </form>

         <p>description:</p>
        <p>{{item.description}}</p><br/>
        <h3>Product Seller Information: </h3>
        <p>{{item.seller.yabeusername}}</p>
        {% if hasBought == True %}
       <a href="{% url 'leaveRating' item_id=item.id %}">Leave Rating</a>
       {% endif %}
       <h2>Reviews</h2>
              <table class="pure-table">
 <thead>

     <tr>
         <th>Buyer</th>
         <th>Rating</th>
         <th>Comments</th>
         <th>Date</th>
     </tr>
 </thead>

 <tbody>
     {% for review in reviews %}
     <tr>
         <td>{{review.buyer.yabeusername}}</td>
         <td>{{review.rating}}</td>
         <td>{{review.feedback}}</td>
         <td>{{review.datetime}}</td>
         <td>{{order.item_id.price}}</td>
     </tr>
     {% endfor %}
     </tbody>
 </table>
      </div>
    </div>
  </div>
<div class="rightbar ">

        <div id="menu" class="pure-menu pure-menu-open" style="color:grey;height:100%;">
            <div class="pure-menu-heading">
                <div class="dashed-title-box">Contents</div>
            </div>
               <ul>
        <li><p id="category_name">
          <a href="/projects/?category=0">All</a>
          </p>
        </li>

        <li><p id="category_name">
          <a href="/projects/?category=1">Bookstore</a>
          </p>
        </li>

        <li><p id="category_name">
          <a href="/projects/?category=2">Collectibles & Art</a>
          </p>
        </li>

        <li><p id="category_name">
          <a href="/projects/?category=3">Electronics</a>
          </p>
        </li>

        <li><p id="category_name">
          <a href="/projects/?category=4">Fashion</a>
          </p>
        </li>

        <li><p id="category_name">
          <a href="/projects/?category=5">Home & Garden</a>
          </p>
        </li>

        <li><p id="category_name">
          <a href="/projects/?category=6">Sporting Goods</a>
          </p>
        </li>

        <li><p id="category_name">
          <a href="/projects/?category=7">Toys & Hobbies</a>
          </p>
        </li>

         <li><p id="category_name">
          <a href="/projects/?category=8">Others</a>
          </p>
        </li>


      </ul>
            <form type="get" action="." style="margin: 0">
    <input  id="search_box" type="text" name="search_box"  placeholder="Search...">
    <button id="search_submit" type="submit" >Submit</button>
</form>
                </div>

    </div>


{% endblock %}
e