{% extends "app/layout.html" %}

{% block content %}

    <h2>Transaction History</h2>
                 <table class="pure-table">
    <thead>
        
        <tr>
            <th>Seller</th>
            <th>Buyer</th>
            <th>ItemName</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Single Cost</th>
            <th>Shipping Status</th>
        </tr>
    </thead>

    <tbody>
        {% for order in myorders %}
        <tr>
            <td>{{order.seller_id.yabeusername}}</td>
            <td>{{order.buyer_id.yabeusername}}</td>
            <td>{{order.item_id.name}}</td>
            <td>{{order.datetime}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.item_id.price}}</td>
            {% if curruser == order.seller_id.yabeusername and order.status == 'purchased' %}
            <td><a href="{% url 'shipping' orderIdx=order.id code=2 %}">Ship it now!</a></td>
            {% else %}
            <td>{{order.status}}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}